@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in 0.8s ease-out forwards;
}

.bg-zoomed-out {
  transform: scale(0.8);
  transition: transform 0.8s ease-out;
}